<div class="row">
    <div class="small-12 columns">
      <h1>A community driven research tracking tool.</h1>
      <!-- <h2>Coordinated Breast Cancer Science</h2> -->
    </div>
  </div>
  <div class="row">
    <div class="small-12">
      <%= image_tag("lab.jpeg") %><span class="test"></span>
    </div>


    <%= link_to "Help research dollars count.", public_studies_path, class: 'button' %>


  </div>
  <div class="row">
    <div class="small-12 columns text-right">
      <h2>A Nationwide Effort</h2>
      <h3>to find a cure.</h3>
      <h1>Faster.</h1>
    </div>
  </div>
