
<!-- <label>Join the Solution</label> -->
<ul class="right">
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to "Register for Free", new_user_registration_path %></li>
</ul>

