<div class="fixed">
  <nav class='top-bar' data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">Research App</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <% unless user_signed_in? %>
      <section class="top-bar-section">
        <%= render 'shared/join_nav' %>
      </section>
    <% end %>

    <section class="top-bar-section">
      <%= render 'shared/about_nav' %>
    </section>

    <% if user_signed_in? %>
      <section class="top-bar-section">
        <%= render 'shared/user_nav_options' %>
      </section>
    <% end %>

    <section class="top-bar-section">
      <%= render 'shared/public_nav_options' %>
    </section>
  </nav>
</div>



