<h2>Integration Center About, only signed in users</h2>
<div class="row">
    <div class="small-12 columns text-center">
      <p>3.67 million dollars are raised annually for Breast Cancer Research from the non-profit sector alone.</p>
    </div>
  </div>
