@import 'foundation';

 .border form {
  width: 300px;
}

.border {
  background-color: white;
  border: 1px solid black;
  padding: 20px 20px 20px 20px;
  margin: 50px auto 10px auto;
  width: 350px;
}

.alert {
  background: none;
}

.sessions-new {
  height:100%;
}

.thin {
  padding: 15px 80px 15px 80px;
}
